table, th, td {
    border: 1px solid black; /* Adds a 1px solid border to the table, header, and cells */
}
table {
    border-collapse: collapse; /* Ensures borders between cells do not double up */
}
td, th {
    padding: 10px;
}
body {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 25px;
}
select {
    width:100%;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-input {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dropdown-options {
    display: none; /* Initially hidden */
    border: 1px solid #ccc; /* Add border to dropdown */
    max-height: 200px; /* Limit dropdown height */
    overflow-y: auto; /* Enable scrolling */
    background-color: white; /* Set background color */
    z-index: 1000; /* Ensure dropdown appears above other content */
}

.dropdown-option {
    padding: 8px; /* Add padding to options */
    cursor: pointer; /* Change cursor on hover */
}

.dropdown-option:hover,
.dropdown-option.active {
    background-color: #f1f1f1; /* Change background color on hover */
}
